html{
    scroll-behavior: smooth;
}
.backimg
{
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 1900px) {
    .backimg img
    {
        width: 100%;
    }
}
.img2
{
    position: absolute;
    top: 0px;

}
.block1content
{
    position: absolute;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block1content h1
{
    display: inline-block;
    text-align: center;
    font-size: 48px;

}
.block2
{
    margin-top: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.block2 h2
{
    font-size: 48px;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 40px;
}
.block2content
{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    justify-content: space-around;    

}
.block2content div
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
}
.test{
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
}


.priceInfo
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 30px;
}
.block2content a
{
    max-width: 300px;
    min-width: 240px;
    height: 80px;
    border: 3px #0038FF solid;
    background-color: #0038FF;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;

}
.block2content b
{
    display: block;
    font-size: 28px;
    font-weight: 600;
    width: 100%;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.block2content aside
{
    width: 45%;
    display: flex;
    justify-content: center;    
    
}
.block2content img
{
    max-width: 100%;
    border-radius: 30px;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
}
.imgcontainer
{
    min-width: 500px;
}
.block2content p
{
    font-size: 30px;
    margin:0px;
    font-weight: 700;

}

.block3
{
    width: 100%;
}
.block3content
{
    width: 100%;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    gap: 60px;
}
.block3content aside
{
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    display: flex;
    justify-content: center;
}
.block3content img
{
    max-width: 100%;
    border-radius: 30px;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
}
.info div
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 90%;
    height: 100%;
}
.Info
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
    background-color: #0038FF;
    color: white;
    font-weight: 600;
}
.Info p
{
    display: inline-block;
}
.Info ul
{
    display: inline-block;

}
.Info ul li
{
    max-width: 400px;
}
@media screen and (max-width: 400px) {
    
    .block2content img
    {
        margin-top: 40px;
    }

    .block2content aside
    {
        width: 100%;
        min-width: 0px;
    }
    .block3content aside
    {
        width: 100%;
        min-width: 0px;
    }
    .Info
    {
        margin-top: 40px
    }
}

/* block4 */
.block4
{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.block4 label
{
    
    background-color: #0038FF;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 20px;
    width: 100%;
    height: 58px;
    max-width: 348px;
    min-width: 248px;
    border: #0038FF 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block4content
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 60px   ;
}
.block4content aside
{
    width: 100%;
    max-width: 600px;
    min-width: 300px;
}
.blockinfo
{
    font-size: 26px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #0038FF;
    border-radius: 20px;
    color: white;
}
.blockinfo div
{
    display: flex;
    flex-flow: row nowrap;
    font-size: 18px;
    width: 100%;
    justify-content: space-evenly;

}
.inputArea form
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.inputArea input
{
    width: 100%;
    max-width: 400px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    border-color: black;
    padding-left: 30px;
}
.inputArea form div
{
    width: 100%;
    max-width: 435px;
}
.inputArea small
{
    padding-left: 30px;
    color: red;
}
.inputArea input::placeholder
{

}
.inputArea input:focus::placeholder
{
    opacity: 0;
}
#buttSend
{
    display: none;
}
.separator
{
    content: "";
    width: 100%;
    height: 0px;
    border: 1px #000000 solid;

    margin-top: 50px;
    margin-bottom: 50px;
}
.block5
{

}
.block5 h2
{
 font-size: 36px;
 font-weight: 700;
 text-align: center;
 margin-bottom: 40px;
}
.block5 div
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 5px;
}
.block5 div img
{
 width: 150px;
 border-radius: 100px;
}
.blockTemp
{
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.blockTempCont
{
    width: 100%;
    max-width: 1250px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 40px;
    background-color: #0038FF;
    border-radius: 35px;
}
.blockTempCont h2
{
    color: white;
    font-size: 36px;
    margin: 0px;
    margin-top: 30px;
    text-align: center;
}
.contacts img
{
    width: 115px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: transform 0.3s ease-in-out;
}
.contacts div
{
    border-radius: 35px;
    padding: 15px;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.contacts
{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 15px;
    margin-bottom: 40px;
}
.contacts a
{
    height: 100%;
    display: block;
}
.contacts a:hover img
{
    transform: translateY(-5px) rotateZ(5deg);
}
/* animate */

.buttOrder{
    color: white;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.buttOrder:hover
{
 
 background-color: white;
 color: black;
}
/* animate */