.backimg
{
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 1900px) {
    .backimg img
    {
        width: 100%;
    }
}
.img2
{
    position: absolute;
    top: 0px;

}
.block1content
{
    position: absolute;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block1content h1
{
    display: inline-block;
    text-align: center;
    font-size: 48px;

}
.block2
{
    margin-top: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.block2 h2
{
    font-size: 48px;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 40px;
}
.block2content
{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    justify-content: space-around;    

}
.block2content div
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
}
.test{
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
}


.priceInfo
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 30px;
}
.block2content button
{
    max-width: 300px;
    min-width: 240px;
    height: 80px;
    border: 2px #0038FF solid;
    background-color: #0038FF;
    border-radius: 30px;
    cursor: pointer;
}
.block2content b
{
    display: block;
    font-size: 28px;
    font-weight: 600;
    color: white;
    width: 100%;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
}
.block2content aside
{
    width: 45%;
    display: flex;
    justify-content: center;    
    
}
.block2content img
{
    max-width: 100%;
    border-radius: 30px;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
}
.imgcontainer
{
    min-width: 500px;
}
.block2content p
{
    font-size: 30px;
    margin:0px;
    font-weight: 700;

}

.block3
{
    width: 100%;
}
.block3content
{
    width: 100%;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    gap: 60px;
}
.block3content aside
{
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    display: flex;
    justify-content: center;
}
.block3content img
{
    max-width: 100%;
    border-radius: 30px;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
}
.info div
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 90%;
    height: 100%;
}
.Info
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
    background-color: #0038FF;
    color: white;
    font-weight: 600;
}
.Info p
{
    display: inline-block;
}
.Info ul
{
    display: inline-block;

}
.Info ul li
{
    max-width: 400px;
}
@media screen and (max-width: 400px) {
    
    .block2content img
    {
        margin-top: 40px;
    }

    .block2content aside
    {
        width: 100%;
        min-width: 0px;
    }
    .block3content aside
    {
        width: 100%;
        min-width: 0px;
    }
    .Info
    {
        margin-top: 40px
    }
}

/* block4 */
.block4
{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.block4 label
{
    color: white;
    background-color: #0038FF;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 20px;
    width: 100%;
    height: 60px;
    max-width: 350px;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block4content
{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 60px   ;
}
.block4content aside
{
    width: 100%;
    max-width: 600px;
    min-width: 300px;
}
.blockinfo
{
    font-size: 26px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #0038FF;
    border-radius: 20px;
    color: white;
}
.blockinfo div
{
    display: flex;
    flex-flow: row nowrap;
    font-size: 18px;
    width: 100%;
    justify-content: space-evenly;

}
.inputArea form
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.inputArea input
{
    width: 90%;
    max-width: 400px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    border-color: black;
    padding-left: 30px;
}

.inputArea input::placeholder
{

}
.inputArea input:focus::placeholder
{
    opacity: 0;
}
#buttSend
{
    display: none;
}